body {
  color: #fff;
  font-family:Monospace;
  font-size:13px;
  text-align:center;
  font-weight: bold;

  background-color: #000;
  margin: 0px;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

.welcome {
  position: absolute;
  width:100%;
}

.debug {
  position:absolute;
  top:0;
  width:300px;
}


.join-form {
    &.hide {
        display: none;
    }
    padding: 40px;
    border: 1px solid #ccc;
    width: 400px;
    margin:auto;
    margin-top:100px;

    button {
        padding:10px;
        margin-top:10px;
    }

    input, select {
        margin:10px 0 10px 0;
        padding:10px;
        width:100%;
    }

    label {
      font-size: 1.4em;
    }
}

#info {
  color:#000;
  position: absolute;
  top: 0px; width: 100%;
  padding: 5px;

}

a {
  color: red;
}

#stats {
  padding:20px;
  position:absolute;
  bottom:10px;
  left:10px;
}

#leaderboard {
  padding: 20px;
  position:absolute;
  top:10px;
  right:10px;

  :first-child {
    font-weight:bold;
  }
}

